//colors
$first-bg: #FFFFFF;
$second-bg:  #F4F4F4;
$third-bg: #EFEFEF;
$button-gradient: linear-gradient(45deg, rgba(4,220,91,1) 0%, rgba(6,221,169,1) 100%);

//font
$font-poppins: 'Poppins', sans-serif;
$font-inter:   'Inter', sans-serif;

//font-size
$standard-small: 0.75rem; //12px
$standard-medium: 0.875rem; //14px
$standard-large: 1rem; //16px
$standard-xlarge: 1.125rem; //18px
$standard-h2: 1.563rem; //25px