@use '../util' as u;

.container {

    &__third {
        .table-container {
            border-radius: 10px;
            border: 1px solid #cdcdcd;
            max-height: 250px;
            overflow-y: auto; /* Enable vertical scrolling */
            margin-top: 12px;
            margin-bottom: 12px;
        }

        table {
            font-size: u.$standard-small;
            font-family: u.$font-inter;
            border-spacing: 20px;
            padding: 0 10px;
        }

        .download-copy {
            width: 100%;
        }
        
    }
}