@use '../util' as u;

.container {
    &__webcam {
        // background-color: palegreen;
        margin-top: 14px;
        border-radius: 10px;
        box-shadow: 1px 4px 10px rgba(0, 0, 0, 0.3);
        

        .img-size {
            width: 100%;
            border-radius: 10px 10px 0 0;
            margin-bottom: 5em;
            
        }
    }
    
}