<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <base href="/">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="icon" type="image/x-icon" href="static/assets/favicon.svg">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <!-- <link rel="stylesheet" href="static/general.css"> -->

    <link rel="stylesheet" type="text/css" href="static\dist\style.css">
    <!-- <link rel="stylesheet" href="static/webcam-container.css"> -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <title>Psymed</title>
  </head>


  <body>
  
    <main class="container">
      <section class="container__left">

        <form class="container__flex-intro" action="/uploadvideo/" method="post" enctype="multipart/form-data">
          <div class="container__flex-inside">
            <h6>You may also upload a video footage instead of using the live camera.</h6>
            <input id="fileInput" type="file" name="file" class="input_style" >

          </div>

          <button id="uploadButton" class="upload-video button-style" type="submit">
            Upload Video
          </button>
        </form>

        <div class="container__webcam" style="position: relative">
          <canvas style="position:absolute;top:0;left:0" id="rect" class="img-size" width="848" height="480"></canvas>
          <canvas id="video" class="img-size" width="848" height="480"></canvas>

          <div class="button-div">
            <button id="captureButton" class="screen-capture three-buttons">
              <span class="material-symbols-outlined">
              photo_camera
              </span>
            </button>

            <button id="playPauseButton" class="screen-record three-buttons">
              <span class="material-symbols-outlined">
                play_arrow
              </span>
            </button>

          </div>
        </div>


      </div>
      </section>

      <section class="container__right">
        <div class="container__first">
          <img src="static/assets/psymedLogo.svg" alt="logo">
          <hr style="margin: 15px 0px 25px 0px;">
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iusto, sint cupiditate deleniti reprehenderit dolore aliquam cum quibusdam, magni ipsam recusandae harum, expedita excepturi. Ex culpa dolor quos nam, voluptate blanditiis praesentium perferendis incidunt, dicta neque dolorem quisquam voluptatem reiciendis nisi porro sequi laboriosam asperiores! Consequuntur ratione laborum ad, reiciendis magnam quae dolore quibusdam provident deserunt vel facilis animi dolores ducimus.
          </p>
        </div>
        <hr>

        <div class="container__second">
          <h2 class="right-intro">Legend</h2>
          <ul class="list-style">
            <div class="left-list">
              <li>Happy: (0.8, 0.6),</li>
              <li>Sad: (-0.8, -0.6),</li>
              <li>Neutral: (0.0, 0.0),</li>
              <li>Disgust: (-0.6, -0.6),</li>
            </div>
            <div class="right-list">
              <li>Surprise: (0.6, 0.8),</li>
              <li>Angry: (-0.8, 0.8),</li>
              <li>Fear: (0.0, 0.8)</li>
            </div>
          </ul>
        </div>
        <hr>

        <div class="container__third">
          <h2 class="right-intro">Log/History</h2>
          <div class="table-container">
            <div id="log-table" class="table">
            </div>
          </div>

          <button class="download-copy button-style">
            <span class="material-symbols-outlined">
              download
            </span>
            Download Copy
          </button>

        </div>
      </section>
    </main>

    <script src="static/scripts/upload.js"></script>
    <script src="static/scripts/rect_canvas.js"></script>
    <script src="static/scripts/capture-button.js"></script>
    <script src="static/scripts/play-pause.js"></script>
    <script src="static/scripts/download-copy.js"></script>
    <script src="static/scripts/video.js"></script>
    <script src="static/scripts/table.js"></script>
    <script src="static/scripts/socket.js"></script>

    <script>
        var source = '{{source}}';
        var isCamera = source == '0';

        document.addEventListener('DOMContentLoaded', () => {
          // play a file or webcam stream (0 for webcam)
          videoCapture(source);

          var started = false;
          var lastTimeMs = 0;
          var msThreshold = 300;    // adjust this to change the frequency of frames sent to the servers

          // start sending frames to the server every $msThreshold ms
          videoStream.addEventListener('play', () => {
              function step() {
                if (!isConnected()) {
                  requestAnimationFrame(step);
                  return;
                }

                // reset the analysis when the video is played at the beginning
                var currentTimeMs = Math.floor(videoStream.currentTime * 1000);
                var diff = currentTimeMs - lastTimeMs;

                if (started && diff < 0) {
                    started = false;
                    lastTimeMs = 0;
                    sendCommand('reset_analyze', {});
                } else if (!started) {
                    // flip the switch to start sending frames
                    started = true;
                }

                // Do not analyze if the video is paused or if the duration is not yet known
                if (!videoStream.paused && !isNaN(videoStream.duration)) {
                    var shouldCapture = false;

                    // check if lastTimeMs is zero or diff is greater than $msThreshold milliseconds
                    if (lastTimeMs == 0 || diff >= msThreshold) {
                      // only capture if the video is playing
                      if (diff >= msThreshold) {
                        shouldCapture = true;
                      }

                      lastTimeMs = currentTimeMs;
                    }

                    // check if lastTimeMs reached $msThreshold milliseconds, record and capture the frame
                    if (shouldCapture) {
                      // record last time
                      const image = snapshotVideo();
                      const captured = Date.now();
                      sendCommand('analyze', {
                        image,
                        captured,
                        timestamp: isCamera ? captured : currentTimeMs
                      });
                    }
                }

                requestAnimationFrame(step);
              }

              requestAnimationFrame(step);
          });
        });

        // close the connection when the page is closed
        window.onunload = () => {
          closeConnection();
        }
    </script>

  </body>

</html>

</html>
